<!-- NEW CONTRACT FORM -->
<form class="bg-white px-8 mx-24 pt-6 pb-8 mb-4" action="{{url_for('editContract', companyName=company.company_name)}}" method="POST">
    
    <div class="flex flex-wrap">
        <div class="w-1/4 px-1 mb-3">
            <!-- back arrow -->
            <a href="{{url_for('allContracts')}}">
                <svg class="w-6 h-6 mt-10 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 487.622 487.622">
                    <circle cx="243.811" cy="243.811" r="243.811" fill="#eed26a"/>
                    <circle cx="243.811" cy="243.811" r="243.811" fill="#d97077"/>
                    <path d="M486.152 270.584l-143.36-131.85-192.981 74.077-18.038 122.03 163.175 147.392c101.59-21.686 179.732-106.643 191.204-211.649z" fill="#ca6168"/>
                    <path d="M243.807 99.45c68.376 0 125.645 47.537 140.571 111.361H283.063v-30.486l-105.152 63.486 105.152 63.486v-28.486H383.89c-15.645 62.814-72.424 109.361-140.083 109.361-79.725 0-144.357-64.633-144.357-144.361 0-79.727 64.632-144.361 144.357-144.361z" fill="#fff"/>
                </svg>
            </a>
            <!-- <span class="tooltiptext">Go Back</span> -->
            <!-- end of back arrow -->
        </div>
        <div class="w-3/4 px-3 mx-auto mt-5 -ml-16">
            <h4 class="text-center text-sm p-5 text-black">
                Edit contract between ({{ company.company_name }})
            </h4>
        </div>
    </div>
    
    <!-- getting the flsh message -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flex items-center rounded shadow-md bg-red-600 text-white text-sm font-bold px-4 py-2 mt-3 mb-6" role="alert">
                    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
                    <p class="text-white">{{message}}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="flex flex-wrap -mx-3 mb-6">
        <!-- company name and address inputs -->
        <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-company-name">
            <!-- Company Name -->
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                id="grid-company-name" type="text" placeholder="{{ company.company_name }}" name="company_name">
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
        </div>
        <div class="w-full px-3 mb-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-address">
            <!-- Address -->
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                id="grid-address" type="text" placeholder="{{ company.company_address }}" name="company_address">
        </div>
        <!-- end of company name and address inputs -->

        <!-- mobile number and contract inputs -->
        <div class="w-1/2 px-3  mb-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-mobile">
            <!-- Mobile -->
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                id="grid-mobile" type="text" placeholder="{{ company.company_mobile }}" name="company_mobile">
        </div>
        <div class="w-1/2 px-3  mb-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-contract-type">
            <!-- Contract Type -->
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                id="grid-contract-type" type="text" placeholder="{{ company.contract_type }}" name="contract_type">
        </div>
        <!-- end of mobile number and contract inputs  -->

        <!-- signed date and expiration date inputs -->
        <div class="w-1/2 px-3  mb-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-signed-date">
            <!-- Sigend Date -->
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                id="grid-signed-date" type="text" placeholder="{{ company.signed_date }}" name="signed_date">
        </div>
        <div class="w-1/2 px-3  mb-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-expiration-date">
            <!-- Expiration -->
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                id="grid-expiration-date" type="text" placeholder="{{ company.expiration_date }}" name="expiration_date">
        </div>
        <!-- end of dsigned date and expiration inputs -->
    </div>
    <div class="flex items-center justify-between">
        <button class="mx-auto bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 shadow-xl rounded focus:outline-none focus:shadow-outline" type="submit">
            UPDATE
        </button>
    </div>
</form>