<div class="header-nav">
	<ul class="flex items-center flex-wrap bg-orange-500 w-full rounded-t-lg">
		<a href="{{url_for('dashboard')}}" class="text-white text-2xl p-4 ml-54">Orange</a>
		<li class="mx-auto">
			<li class="mr-3">
				<a class="inline-block py-1 px-3 text-white text-sm" href="{{url_for('dashboard')}}">Home</a>
			</li>
			<!-- check if the user is authenticated -->
			{% if current_user.is_authenticated %}
				<li class="mr-3">
					<a class="inline-block py-1 px-3 text-white text-sm" href="{{url_for('allContracts')}}">All Contracts</a>
				</li>
				<li class="mr-3">
					<a class="inline-block py-1 px-3 text-white text-sm" href="{{url_for('notifications')}}">Notifications</a>
				</li>
				<li class="mr-3">
					<a class="inline-block border border-white text-sm rounded hover:border-gray-700 text-white hover:bg-gray-700 py-1 px-3" href="{{url_for('logout')}}">Logout</a>
				</li>
			{% endif %}
		</li>
	</ul>
</div>